body {
  font-family: Arial;
}

.borderless {
  border: none !important;
}

.square {
  border: 1px solid black;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  padding-top: 2px;
  font-weight: bold;
  font-family: Arial;
  -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.square:hover {
  cursor: pointer;
}

.show-answer {
  color: red;
}


#play-area {
  display: inline-block;
}

#word-list {
  border-right: 1px solid rgba(20, 20, 20, .5);
  padding-right: 40px;
}

#word-list,
#clue-area {
  float: left;
  font-size: 24px;
  padding-top: 15px;
  border-top: 1px solid rgba(20, 20, 20, .5);
}


body {
  text-align: center;
}

#list-and-clue-container,
#clue-area-container {
  vertical-align: top;
  text-align: center;
  margin: 0 auto;
}

#list-and-clue-container::after {
  display: block;
  content: "";
  clear: both;
}

li {
  list-style-type: none;
}

#clue-area-container::after {
  content: "";
  display: block;
  clear: both;
}

.selected-square {
  background-color: #61EFD2;
}

.answered {
  text-decoration: line-through red;
  color: gray;
}

.found-word {
  background-color: lightgray;
}

#win-message-container,
#options-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  z-index: 10;
  position: fixed;
  color: snow;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#61efd2+1,59a8e5+100 */
  background: #61efd2; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #61efd2 1%, #59a8e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #61efd2 1%,#59a8e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #61efd2 1%,#59a8e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61efd2', endColorstr='#59a8e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#play-again-button,
#start-new-game-button,
#close-options-panel-button {
  border: 3px solid snow;
  border-radius: 3px;
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

#close-options-panel-button {
  position: absolute;
  left: 10px;
}

#start-new-game-button:hover {
  background-color: rgba(97, 219, 210, 1)
}

#start-new-game-button {
  margin-top: 30px;
}

#start-new-game-button:hover,
#close-options-panel-button:hover,
#play-again-button:hover {
  cursor: pointer; ;
}

select {
  padding: 1px 5px;
  border-radius: 4px;
  font-size: 18px;
}

.selection-container {
  display: inline-block;
  width: 50%;

}

.selection-container {
  float: left;
  margin: 0 auto;
}

#select-boxes-container {
  text-align: center;
  width: 30%;
  margin: 0 auto 20px auto;
}

#select-boxes-container::after {
  content: "";
  display: block;
  clear: both;
}

#input-list {
  border-radius: 8px;
  font-size: 18px; 
  padding: 10px; 
}

#options-launcher {
  border: 2px solid #59a8e5;
  border-radius: 8px;
  font-weight: bold;
  width: 100px;
  padding: 4px 0;
  text-align: center;
  color: #59a8e5;
}

#options-launcher:hover {
  cursor: pointer;
}

#soundOnLabel,
#borderless-label,
#show-answers-label {
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
}

#soundOnLabel:hover,
#soundOnButton:hover,
#borderless-label:hover,
#borderless-button:hover,
#show-answers-label:hover,
#show-answers-button:hover {
  cursor: pointer;
}

.star {
  width: 20px;
}

.star-small {
  width: 15px;
  margin: -8px;
}


.star-popup{
  animation: popup linear 1s;
  animation-iteration-count: 1;
  transform-origin: 0 10px;
  -webkit-animation: popup linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: popup linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: popup linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: popup linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes popup{
  0% {
    transform:  translate(-3px,-1px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(0px,-50px) ;
    transform: scale(4, 4) );
  }
}

@-moz-keyframes popup{
  0% {
    -moz-transform:  translate(-3px,-1px)  rotate(0deg) ;
  }
  100% {
    -moz-transform:  translate(0px,-100px) ;
  }
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform:  translate(-3px,-1px)  rotate(0deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,-100px) ;
  }
}

@-o-keyframes popup {
  0% {
    -o-transform:  translate(-3px,-1px)  rotate(0deg) ;
  }
  100% {
    -o-transform:  translate(0px,-100px) ;
  }
}

@-ms-keyframes popup {
  0% {
    -ms-transform:  translate(-3px,-1px)  rotate(0deg) ;
  }
  100% {
    -ms-transform:  translate(0px,-100px) ;
  }
}

@media print {
  .no-print {
    display: none;
  }
}