body {
  font-family: Arial;
}

.square {
  border: 1px solid black;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  padding-top: 2px;
  font-weight: bold;
  font-family: Arial;
  -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.square:hover {
  cursor: pointer;
}

.contains-word {
  color: red;
}

#play-area {
  width: 400px;
  display: inline-block;
  float: left;
}

#word-list {
  font-size: 24px;
}

li {
  list-style-type: none;
}

#clue-area-container::after {
  content: "";
  display: block;
  clear: both;
}

.selected-square {
  background-color: #61EFD2;
}

.answered {
  text-decoration: line-through red;
  color: gray;
}

.found-word {
  background-color: lightgray;
}

#win-message-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  background-color: #61EFD2 ;
  z-index: 10;
  position: absolute;
  color: snow;
  text-align: center;
}

#play-again-button {
  border: 1px solid snow;
  border-radius: 3px;
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
}

#play-again-button:hover {
  cursor: pointer;
}